{% extends "registration/base.html" %}
{% load bootstrap %}
{% block content %}

<p>Welcome to Nexquality! Please login or subscribe to our website (link above)</p>

<form id="form" class="form" method="post" action="{% url 'Nexquality:registration:login' %}">
{% csrf_token %}
{{ form|bootstrap }}

<input id="submit_btn" class="btn btn-primary" type="submit" value="login" />
<input type="hidden" id="next" name="next" value="" />
</form>
<script>
    $("form").submit(function(){
        $("#next").val("{% url 'Nexquality:profile:list' %}"+$("#id_username").val());
    });
</script>
{% endblock %}
