{% extends "modules/table/table.html" %}
{% block table_head %}
    <tr>
        <th>Category</th>
        <th>Field</th>
        <th>Average</th> 
        <th>Total</th>       
    </tr>
{% endblock %}
{% block table_body %}
    {% for calculation in calculations %}
        <tr>
            <td>{{ calculation.field__category__name}}</td>
            <td>{{ calculation.field__name }}</td>
            <td>{% if calculation.field__show_average %}{{ calculation.average|floatformat:-2}} {{calculation.field__unit }}{% endif %}</td>
            <td>{% if calculation.field__show_sum %}{{ calculation.sum|floatformat:-2}} {{calculation.field__unit }}{% endif %}</td>          
        </tr>
    {% endfor %}
{% endblock %}