{% extends "modules/table/table.html" %}
{% block table_head %}
    <tr>
        <th>Category</th>
        <th>Field</th>
        <th>Average</th> 
        <th>Total</th>       
    </tr>
{% endblock %}
{% block table_body %}
    {% for metric in metrics %}
        <tr>
            <td>{{ metric.field.category.name}}</td>
            <td>{{ metric.field.name }}</td>
            <td>{% if metric.field.show_average %}{{ metric.average|floatformat:-2}} {{metric.field.unit }}{% endif %}</td>
            <td>{% if metric.field.show_sum %}{{ metric.sum|floatformat:-2}} {{metric.field.unit }}{% endif %}</td>          
        </tr>
    {% endfor %}
{% endblock %}