{% extends "modules/accordion/accordion.html" %}
{% block panel_attributes %} class="panel panel-primary" {% endblock %}
{% block accordion_head %}
    {% include "modules/accordion/head/thick_with_logo.html" with logo_class="fa-bar-chart-o" %}
{% endblock %}
{% block accordion_body %}
<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#averages" aria-controls="averages" role="tab" data-toggle="tab">Numbers</a></li>
        <li role="presentation"><a href="#linechart" aria-controls="linechart" role="tab" data-toggle="tab">Line chart</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="averages">{% include "modules/profile/metrics_table.html" %}</div>
        <div role="tabpanel" class="tab-pane" id="linechart">Coming soon...</div>
    </div>
</div>
{% endblock %}