{% extends "modules/accordion/accordion.html" %}
{% load chartit %}
{% block panel_attributes %} class="panel panel-primary" {% endblock %}
{% block accordion_head %}
    {% include "modules/accordion/head/thick_with_logo.html" with logo_class="fa-bar-chart-o" %}
{% endblock %}
{% block accordion_body %}
<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#calculations" aria-controls="calculations" role="tab" data-toggle="tab">Numbers</a></li>
        <li id="linechart-tab"role="presentation"><a href="#linechart" aria-controls="linechart" role="tab" data-toggle="tab">Compare</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="calculations">{% include "modules/profile/metrics_table.html" %}</div>
        <div role="tabpanel" class="tab-pane" id="linechart">
            <script>
                function loadChart() { 
                    metricChartOptions = {
                        chart: {
                            renderTo: 'chart_container',
                            type: 'bar',
                        },
                        title: {
                            text: 'Metrics comparison'
                        },
                        xAxis: {title: {text: null}},        
                        yAxis: {title: {text: null}},
                        series: [{}]
                    };
                    $.post("{% url "Nexquality:profile:chart_json_data" %}", $("#modal_form").serialize(),
                        function(data){
                            metricChartOptions.xAxis.categories = data['chart_data']['fields'];
                            metricChartOptions.series = data['chart_data']['series'];
                            var chart = new Highcharts.Chart(metricChartOptions)
                        }, "json");
                    $('#chart_container').highcharts();
                };
                $("#linechart-tab").click(loadChart);
            </script>
            <br>
            <div id="chart_container" style="height:400px;">  
            </div>   
            <form id="modal_form"> 
                <label for="field">Metric</label>
                <select class="form-control" name="field" onchange="loadChart()" class="btn btn-default">
                {% for calculation in calculations %}
                    <option value="{{ calculation.field__name }}">{{ calculation.field__name }}</option>
                {% endfor %}
                </select>
                <label for="calculation">Calculation</label>
                <select class="form-control" name="calculation" onchange="loadChart()" class="btn btn-default">
                    <option value="average">Average</option>
                    <option value="sum">Sum</option>
                    <option value="max">Maximum</option>
                    <option value="min">Minimum</option>
                </select>
                <input type="hidden" name="username" value="{{ profile.user.username }}"/>        
                <label for="showAverage">Show average of all users</label>
                <input class="form-control" onchange="loadChart()" name="show_average" type="checkbox">
                <label for="showTolerance">Show tolerance</label>
                <input class="form-control" onchange="loadChart()" name="show_tolerance" type="checkbox">
                {% include "modules/profile/chart_user_modal.html" with modal_title="Select users to compare" button_text="Compare to others" %}
            </form>
        </div>
    </div>
</div>
{% endblock %}