{% extends "modules/panel/panel.html" %}
{% block panel_body %}

<script>
{% block javascript %}
    {% if id_on_click %}$('#{{ id_on_click }}').click{% else %}$(document).ready{% endif %}
        (function() {
        $('.progress .progress-bar').progressbar({display_text: 'fill', use_percentage: true });
        });
{% endblock %}
</script>
    <h5>Total rewarded ({{profile.get_distinct_badge_count}} of {{badge_count}})</h5>
    {% include "modules/progress_bar/progress_bar.html" with current_value=profile.get_distinct_badge_count max_value=badge_count %}
    {% for badge_count in profile.get_distinct_badge_count_by_category %}
        <div class="col-md-4">
        <h5>{{badge_count.category__name}} ({{badge_count.count}} of {{badge_count.total_badge_count}})</h5>
            {% include "modules/progress_bar/progress_bar.html" with current_value=badge_count.count    max_value=badge_count.total_badge_count %}
        </div>
    {% endfor %}
{% endblock %}