<style>
.three-sec-ease-in-out {
    -webkit-transition: width 3s ease-in-out;
    -moz-transition: width 3s ease-in-out;
    -ms-transition: width 3s ease-in-out;
    -o-transition: width 3s ease-in-out;
    transition: width 3s ease-in-out;
}
</style>
<div class="progress {% block container_class %}progress-striped{% endblock %}" style="{% block container_style %}height: 25px{% endblock %}">
     <div class="progress-bar three-sec-ease-in-out{% block bar_class %}{% endblock %}" role="progressbar" data-transitiongoal="{{ current_value }}" aria-valuemax="{{ max_value }}" aria-valuemin="0">
    </div>
</div>
