{% extends "base.html" %}
{% block content %}
<h1>Modify project - {{ form.instance.name }}</h1>
<form class="form-inline" action="{{ request.path }}" method="post">{% csrf_token %}
    {{ form }}
	<input class="btn btn-default" type="submit" value="Save" />
</form>
<br />
<table class="table">
	<thead>
		<tr>
			<th>Username</th>
			<th>Joining date</th>
			<th>Quitting date</th>
			<th>Change state</th>
		</tr>
	<thead>
    {% for project_user in form.instance.projectuser_set.all %}
	    <tr>
		    <td>{{ project_user.user.username }}</td>
		    <td>{{ project_user.in_date }}</td>
		    <td>{{ project_user.out_date }}</td>
		    <td><a href="{% url 'Nexquality:project:inactivate_user' form.instance.id project_user.id %}" class="btn btn-default" {% if project_user.out_date %} disabled {% endif %} >Inactivate</a></td>
	    </tr>
    {% endfor %}
    </table>
<a class="btn btn-default" href="{% url 'Nexquality:project:detail' form.instance.id%}">Go back</a>
<a class="btn btn-default" href="{% url 'Nexquality:project:add_user' form.instance.id %}">Add user</a>
{% endblock %}