<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/static/Nexquality/javascript.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script src="http://listjs.com/no-cdn/list.js"></script>
    <title>{% block title %}Nexquality{% endblock %}</title>
</head>

<body>
<nav class="navbar navbar-default">
    <div >
        {% block navigation %}
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'Nexquality:index' %}">Nexquality</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'Nexquality:registration:logout' %}">Log out</a></li>
            <li><a href="{% url 'Nexquality:registration:login' %}">Log in</a></li>
            <li><a href="{% url 'Nexquality:registration:subscription' %}">Subscribe</a></li>
            <li><a href="{% url 'Nexquality:project:list' %}">Projects</a></li>
            <li><a href="{% url 'Nexquality:data_importation:users' %}">Import users</a></li>
            <li><a href="{% url 'Nexquality:data_importation:projects' %}">Import projects</a></li>
        </ul>
        {% endblock %}
    </div>
</nav>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>