{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="//bootswatch.com/paper/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.css" />
    <link rel="stylesheet" href="{% static "Nexquality/font-awesome-4.3.0/css/font-awesome.min.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{% static "Nexquality/javascript.js" %}"></script>
    <script src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
    </script>
    <title>{% block title %}Nexquality{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% block logo %}
          <a style="margin: 0px; padding: 0px" class="navbar-brand" href="{% url 'Nexquality:profile:detail' user.username %}">
            <img alt="brand" src="{% static "Nexquality/logo.png" %}" style="height: 100%; " />
          </a>
          {% endblock logo %}
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
        {% block navigation %}
            <li><a href="{% url 'Nexquality:profile:list' %}">Users</a></li>   
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Project<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    {% for project in user.profile.get_recent_projects %}
                        <li><a href="{% url 'Nexquality:project:detail' project.pk %}">{{ project.name }}</a></li>
                    {% endfor %}
                    <li class="divider"></li>
                    <li><a href="{% url 'Nexquality:project:list' %}">All projects</a></li>
                    <li><a href="{% url 'Nexquality:project:create' %}">Create project</a></li>  
                </ul>          
            </li>
            <li><a href="{% url 'Nexquality:data_importation:users' %}">Import users</a></li>
            <li><a href="{% url 'Nexquality:data_importation:projects' %}">Import projects</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'Nexquality:profile:detail' user.username %}"><i class="fa fa-user fa-lg" style="margin-right: 10px"></i>{{ user.first_name }}</a></li>
                <li><a href="{% url 'Nexquality:registration:logout' %}">Log out</a></li>
            </ul>
        {% endblock %}
        </ul>
    </div>
</nav>
    <div id="content" class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>