{% extends "modules/accordion/accordion.html" %}
{% block accordion_body %}
{% include "modules/datatable.html" with datatable_id="new_issues" %}
{% include "modules/datatable.html" with datatable_id="solved_issues" %}
{% include "modules/datatable.html" with datatable_id="unsolved_issues" %}
<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#pane_active_users" aria-controls="pane_active_users" role="tab" data-toggle="tab">Active</a></li>
        <li role="presentation"><a href="#pane_inactive_users" aria-controls="pane_active_users" role="tab" data-toggle="tab">Inactive</a></li>
    </ul>
    <br />
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="pane_active_users">
        {% block active_users_tab %}
            {% include "modules/project/projectuser_table.html" with project_users=project.get_active_users table_id="active_users" %}
        {% endblock %}
        </div>
        <div role="tabpanel" class="tab-pane" id="pane_inactive_users">{% include "modules/project/projectuser_table.html" with project_users=project.get_inactive_users table_id="inactive_users"%}</div>
    </div>
</div>
{% endblock %}