{% extends "modules/accordion/accordion_table.html" %}
{% block table_head %}
    <tr>
        <th>Revision</th>
        <th>Date</th> 
        <th>Comment</th>     
    </tr>
{% endblock %}
{% block table_body %}
{% for commit in commits %}
    <tr>
        <td>
            <a href="{% url 'Nexquality:project:commit:detail' commit.project.id commit.id %}">{{ commit.revision }}</a>  
        </td>
        <td>{{ commit.date }}</td>   
        <td>{{ commit.comment | truncatewords:20 }}</td>  
    </tr>
    {% endfor %}
{% endblock %}